# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Exercise 1: Create a Jupyter Notebook
- Exercise 2: Create markdown cell with title of the notebook
- Exercise 3 - Create a markdown cell for an introduction

Some of the popular languages that Data Scientists use are:
- Python
- R
- Julia

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. seaborn

| Data Science Tools |
| --- |
| Jupyter Notebooks |
| Jupyterlab |
| RStudio |

#### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#  This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Erik Rosas